@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP");
@import url("https://fonts.googleapis.com/earlyaccess/hannari.css");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  font-weight: bold;
}

body {
  font-family: "Noto Sans JP", "Merriweather", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  letter-spacing: 0.3px;
  color: #222222;
}

p {
  font-size: 14px;
  font-weight: normal;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

/*  色の変数 */
.color-main {
  color: #1EB5A3;
  padding-left: 3.5rem;
  margin-bottom: 1.875rem;
  position: relative;
  font-size: 25px;
}

.color-main::before {
  content: "";
  display: block;
  width: 2.8rem;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #1EB5A3;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* ヘッダーのCSS*/
header {
  width: 100%;
  height: 5rem;
  background-color: #fff;
  position: fixed;
  z-index: 99999;
  font-size: 12px;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 5rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .logo {
  width: 40%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.2rem 3rem;
}

header nav .logo img {
  width: 40%;
  height: 70%;
}

header nav .logo p {
  width: 50%;
  height: 100%;
  padding: 0.4rem;
  line-height: 1rem;
  font-size: 12px;
  color: #1EB5A3;
}

header nav a {
  font-size: 1rem;
  font-weight: 500;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 60%;
  text-align: center;
}

header nav ul li {
  width: 15%;
  font-weight: 500;
}

header nav ul li a {
  color: #222222;
  font-size: 12px;
}

header nav ul .form-tab {
  width: 10rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5rem;
  line-height: 1rem;
  display: inline-block;
  text-align: center;
  margin: 0.5rem;
  background-color: #E994C7;
  color: white;
  border-radius: 5px;
}

header nav #nav-drawer {
  display: none;
}

/* メインのCSS */
main {
  width: 100%;
  height: 38rem;
  background-image: url(../IMAGE/firstview.jpg);
  background-size: cover;
}

main .main-container {
  width: 88%;
  margin: 0 auto;
  padding-top: 5rem;
}

main .main-container .box-item {
  width: 18.75rem;
  height: 6.25rem;
  border: 1px solid white;
  border-radius: 10px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: white;
  margin-top: 3.125rem;
}

main .main-container .box-item p {
  display: inline-block;
  font-weight: 500;
}

main .main-container .box-item p .span3 {
  font-size: 3rem;
}

main .main-container .box-item .box-icon {
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 10px;
}

main .main-container .main-header {
  width: 32.5rem;
  height: 2.5rem;
  background-color: white;
  border-radius: 20px;
  vertical-align: auto;
  margin-top: 4rem;
}

main .main-container .main-header h1 {
  font-size: 20px;
  text-align: center;
  color: #1EB5A3;
  padding-top: 0.3rem;
}

main .main-container h2 {
  font-size: 2.625rem;
  font-weight: 500;
  color: white;
  margin-top: 1rem;
}

main .main-container .main-btn {
  width: 25rem;
  margin-top: 2.5rem;
  background-color: #E994C7;
  border: 1px solid white;
  border-radius: 10px;
}

main .main-container .main-btn .flex {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main .main-container .main-btn .flex .main-text {
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  color: white;
}

main .main-container .main-btn .flex .main-text span {
  font-size: 24px;
}

main .main-container .main-btn .flex .main-text-right {
  font-size: 20px;
  padding-top: 0.8rem;
}

/* 詳細部のCSS */
.detail {
  width: 100%;
  height: 16.25rem;
  background-color: #fafafa;
}

.detail .detail-container {
  width: 85%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  padding-top: 3rem;
}

.detail .detail-container .detail-items {
  width: 80%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 1.5rem;
  margin: 0 auto;
}

.detail .detail-container .detail-items .detail-item .detail-text {
  font-size: 32px;
  padding-top: 1rem;
  font-weight: bold;
}

.detail .detail-container .detail-items .detail-item .detail-text span {
  color: #1EB5A3;
}

/* サービス部（強み・特徴・理由）のCSS */
.service {
  width: 100%;
  height: 56.25rem;
  margin: 0 auto;
  /*　強みのCSS */
}

.service .service-strength {
  width: 100%;
  height: 50rem;
  margin: 0 auto;
  padding-top: 6.25rem;
}

.service .service-strength .strength-header {
  width: 80%;
  margin: 0 auto;
}

.service .service-strength .strength-contents {
  width: 100%;
  margin: 0 auto;
  padding-left: 15%;
  padding-top: 2.185rem;
  position: relative;
}

.service .service-strength .strength-contents .strength-content {
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 3.125rem;
}

.service .service-strength .strength-contents .strength-content p {
  vertical-align: middle;
  font-size: 24px;
  font-weight: 500;
}

.service .service-strength .strength-contents .strength-content span {
  font-size: 40px;
  font-weight: 500;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(55%, transparent), color-stop(50%, #8FDAD1));
  background: linear-gradient(transparent 55%, #8FDAD1 50%);
}

.service .service-strength .strength-contents .strength-content img {
  width: 3.8rem;
  height: 3.8rem;
  margin: 0.1rem 4rem;
}

/* 求人掲載欄のCSS*/
.matter {
  width: 100%;
  height: 65.6rem;
  padding-top: 4.7rem;
}

.matter .matter-header {
  width: 80%;
  margin: 0 auto;
}

.matter .matter-header h2 {
  padding-bottom: 1.875rem;
}

.matter .matter-header .matter-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  font-size: 18px;
  padding-top: 3.75rem;
}

.matter .matter-header .matter-button .button-blue {
  height: 4rem;
  width: 15.62rem;
  background-color: #1EB5A3;
  color: white;
  padding: 17px 0;
  text-align: center;
  border-radius: 10px;
}

.matter .matter-contents {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  padding-top: 4.625rem;
  /* 矢印の画像変更 */
}

.matter .matter-contents .slick-prev:before, .matter .matter-contents .slick-next:before {
  font-size: 2rem;
}

.matter .matter-contents .slick-dots {
  bottom: -3.8rem;
}

.matter .matter-contents .slick-dots li {
  margin: 20px 10px 0 10px;
}

.matter .matter-contents .slick-dots li button:before {
  font-size: 1rem;
  color: #616161;
}

.matter .matter-contents .slick-slide {
  margin: 0 0.4%;
}

.matter .matter-contents .slick-prev:before {
  content: "" !important;
}

.matter .matter-contents .slick-prev:after {
  content: url(../IMAGE/arrow1.png);
}

.matter .matter-contents .slick-next:before {
  content: "" !important;
}

.matter .matter-contents .slick-next:after {
  content: url(../IMAGE/arrow2.png);
}

.matter .matter-contents .matter-content {
  width: 40%;
  height: 29.81rem;
  margin: 0 auto;
}

.matter .matter-contents .matter-content img {
  width: 100%;
  height: 21.25rem;
}

.matter .matter-contents .matter-content .matter-text {
  width: 100%;
  margin: 0 auto;
  padding-top: 0.5rem;
  color: #4F4F4F;
  font-size: 1.12rem;
  font-weight: 500;
  line-height: 1.9rem;
  letter-spacing: 0.3px;
}

.matter .matter-contents .matter-content .matter-points {
  padding-top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.matter .matter-contents .matter-content .matter-points .matter-point {
  margin-right: 1.7rem;
  height: 2.3rem;
  background-color: #F9F9F9;
  text-align: center;
  padding: 0.3rem 0.75rem;
}

.matter .matter-contents .matter-content .matter-points .matter-point p {
  font-size: 0.875rem;
  color: #00A1D5;
  display: inline-block;
}

.matter .matter-contents .matter-content .matter-text-0 {
  margin: 0;
  padding: 0;
}

/* valueのCSS */
.value {
  height: 56.8rem;
  background-color: #fafafa;
}

.value .value-container {
  width: 80%;
  margin: 0 auto;
  padding-top: 6.25rem;
}

.value .value-container .value-items {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 7.125rem;
  line-height: 2rem;
}

.value .value-container .value-items .value-item {
  width: 25%;
  text-align: center;
}

.value .value-container .value-items .value-item img {
  margin: 0 auto;
}

.value .value-container .value-items .value-item .item-header {
  color: #1EB5A3;
  margin-bottom: 2.25rem;
}

.value .value-container .value-items .value-item .item-text {
  text-align: left;
}

/* 転職の流れ */
.flow {
  width: 100%;
  height: 90.625rem;
}

.flow .flow-header {
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  padding-top: 3.8rem;
  margin-bottom: 6.5rem;
}

.flow .flow-header h2 {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.flow .flow-contents {
  width: 80%;
  margin: 0 auto;
  padding-top: 6.9rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flow .flow-contents .flow-content {
  width: 30%;
  height: 14rem;
  margin-bottom: 6.25rem;
}

.flow .flow-contents .flow-content .flow-text h3 {
  margin-bottom: 2rem;
}

.flow .flow-contents .flow-content .flow-text h3 span {
  color: #1EB5A3;
}

.flow .flow-contents .flow-content .flow-text p {
  line-height: 2rem;
}

.flow .banner {
  width: 90%;
  height: 23.4rem;
  background-image: url(../IMAGE/banner.png);
  background-size: cover;
  margin: 0 auto;
}

.flow .banner .banner-text {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  color: white;
  padding-top: 60px;
}

.flow .banner .banner-text h2 {
  font-size: 64px;
  color: #1EB5A3;
}

.flow .banner .banner-text h3 {
  font-size: 36px;
  color: #1EB5A3;
}

.flow .banner .banner-text p {
  padding-top: 21px;
  padding-bottom: 21px;
  font-size: 18px;
}

.flow .banner .banner-text a {
  display: block;
  color: white;
  background-color: #E994C7;
  width: 20rem;
  height: 60px;
  border: 1px solid white;
  border-radius: 10px;
  padding: 15px 30px;
  text-align: center;
}

/* 選ばれた理由のCSS*/
.reason {
  width: 100%;
  height: 121.875rem;
  background-color: #f9f9f9;
  padding-top: 4.7rem;
}

.reason .reason-header {
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  margin-bottom: 3.125rem;
}

.reason .reason-container {
  width: 90%;
  height: 100rem;
}

.reason .reason-container .reason-content {
  width: 100%;
  height: 31.25rem;
  background-color: white;
  margin-bottom: 3.125rem;
  position: relative;
}

.reason .reason-container .reason-content .header1 {
  font-size: 80px;
  position: absolute;
  top: -4%;
  right: 5%;
  color: #8FDAD1;
}

.reason .reason-container .reason-content .header2 {
  font-size: 80px;
  position: absolute;
  top: -2%;
  left: 5%;
  color: #8FDAD1;
}

.reason .reason-container .reason-content .header3 {
  font-size: 80px;
  position: absolute;
  top: -2%;
  right: 8%;
  color: #8FDAD1;
}

.reason .reason-container .reason-content .content-container {
  width: 80%;
  height: 90%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 50px;
  margin: 0 auto;
}

.reason .reason-container .reason-content .content-container .reason-text {
  width: 45%;
  line-height: 30px;
}

.reason .reason-container .reason-content .content-container .reason-text h3 {
  color: #1EB5A3;
  font-weight: medium;
  margin-bottom: 50px;
  line-height: 45px;
  position: relative;
  margin-top: 7rem;
}

.reason .reason-container .reason-content .content-container .reason-text h3::after {
  content: "";
  display: block;
  width: 20%;
  height: 0.1px;
  background-color: #1EB5A3;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.reason .reason-container .reason-content .content-container .reason-text2 {
  width: 45%;
  line-height: 30px;
  margin-right: 2rem;
}

.reason .reason-container .reason-content .content-container .reason-text2 h3 {
  color: #1EB5A3;
  font-weight: medium;
  margin-bottom: 100px;
  line-height: 45px;
  position: relative;
  margin-top: 3rem;
}

.reason .reason-container .reason-content .content-container .reason-text2 h3::after {
  content: "";
  display: block;
  width: 20%;
  height: 0.1px;
  background-color: #1EB5A3;
  position: absolute;
  bottom: -20px;
  left: 0;
}

.reason .reason-container .reason-content .content-container .img-size1 {
  width: 35%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.reason .reason-container .reason-content .content-container .img-size2 {
  width: 35%;
  height: 24rem;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.reason .reason-container .reason-content .content-container .img-size3 {
  width: 30%;
  -o-object-fit: contain;
     object-fit: contain;
  display: block;
}

.comparison {
  width: 100%;
  height: 56.25rem;
}

.comparison .comparison-header {
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  padding-top: 3.8rem;
  margin-bottom: 6.5rem;
}

.comparison .comparison-header h2 {
  padding-top: 1rem;
  padding-bottom: 2.5rem;
}

.comparison .comparison-img {
  text-align: center;
  padding-top: 6.875rem;
}

.comparison .comparison-img img {
  height: 25rem;
  width: 61.25rem;
}

/*userの声CSS*/
.user {
  width: 100%;
  height: 60rem;
  padding-top: 4.7rem;
}

.user .user-header {
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  margin-bottom: 5rem;
}

.user .user-header h2 {
  padding-top: 2rem;
}

.user .user-contents {
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.user .user-contents .user-content {
  width: 30%;
  height: 37.5rem;
  background-color: #f9f9f9;
}

.user .user-contents .user-content .user-headline {
  margin: 0 auto;
  color: #1EB5A3;
  padding-top: 1.25rem;
  padding-bottom: 0.8rem;
}

.user .user-contents .user-content .user-headline p {
  font-size: 0.88rem;
  padding-right: 1rem;
  padding-left: 1.56rem;
  color: #1EB5A3;
}

.user .user-contents .user-content img {
  width: 100%;
}

.user .user-contents .user-content h4 {
  font-size: 0.88rem;
  padding: 0.3rem 1.56rem;
  color: #4F4F4F;
  padding-bottom: 1.25rem;
  line-height: 1.56rem;
  letter-spacing: 0.3px;
}

.user .user-contents .user-content p {
  font-size: 0.8rem;
  line-height: 1.375rem;
  letter-spacing: 0.3px;
  color: #4F4F4F;
  padding: 0.3rem 1.56rem;
}

/* よくある質問 */
.question {
  width: 100%;
  height: 80rem;
}

.question .question-header {
  width: 80%;
  height: 10rem;
  margin: 0 auto;
  padding-top: 3.8rem;
}

.question .question-header h2 {
  padding-top: 0.9rem;
}

.question .question-contents {
  width: 50%;
  margin: 0 auto;
  padding-top: 1.5rem;
}

.question .question-contents .question-content {
  border-bottom: 1px solid #A9A9A9;
  color: #4F4F4F;
  padding: 5rem 0 1.5rem 0;
  line-height: 2.5rem;
}

.question .question-contents .question-content .anser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 2.5rem;
}

.question .question-contents .question-content .anser .icon-blue {
  color: #1EB5A3;
  border: solid 1px #1EB5A3;
  text-align: center;
  border-radius: 8px;
  padding-top: 0.2rem;
}

.question .question-contents .question-content .anser .icon-normal {
  border: solid 1px #222222;
  text-align: center;
  border-radius: 8px;
  padding-top: 3px;
}

.question .question-contents .question-content .anser h3 {
  width: 3.1rem;
  height: 3.1rem;
  font-size: 1.56rem;
}

.question .question-contents .question-content .anser h4 {
  font-size: 1.5rem;
  width: 100%;
  font-weight: normal;
  padding-left: 1.6rem;
}

.question .question-contents .question-content .anser p {
  width: 100%;
  padding-left: 1.6rem;
}

.form {
  width: 100%;
  height: 65rem;
}

.form .form-header {
  width: 80%;
  margin: 0 auto;
  padding-top: 4rem;
  padding-bottom: 5rem;
}

.form .form-header h2 {
  padding-bottom: 1.875rem;
}

.form .form-contents {
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 2rem;
}

.form .form-contents .form-input {
  margin: 0 auto;
  width: 60%;
}

.form .form-contents .form-input label {
  font-size: 1.1rem;
  font-weight: 500;
}

.form .form-contents .form-input .required {
  margin-left: 1.6rem;
  color: #B5272D;
  font-size: 1rem;
  border: 1px solid #B5272D;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 1.25rem;
  padding: 0.25rem 1rem;
}

.form .form-contents .form-input input {
  width: 80%;
  height: 2.5rem;
  padding-left: 1.1rem;
  border-radius: 0.25rem;
  background: #F3F3F3;
  border: none;
  margin-top: 0.6rem;
  color: #A9A9A9;
  font-size: 1rem;
}

.form .form-contents .form-input p {
  margin-bottom: 1.25rem;
}

.form .form-contents .form-text {
  margin: 0 auto;
  width: 60%;
}

.form .form-contents .form-text h3 {
  text-align: left;
  font-size: 1.1rem;
  font-weight: 500;
  padding-bottom: 1.25rem;
}

.form .form-contents .form-text p {
  padding-bottom: 3.1rem;
}

.form .form-contents .form-text p label br {
  display: block;
  content: "";
  margin: 0;
}

.form .form-contents .form-text input {
  margin: 0 1rem;
  margin-bottom: 1rem;
}

.form .form-contents .form-text .wpcf7-not-valid-tip {
  margin-left: 1rem;
}

/* 確認ボタン */
.wpcf7c-elm-step1 {
  display: block;
  margin: 5rem auto;
  background-color: #009DCF;
  border-radius: 0.6rem;
  border: none;
  width: 25rem;
  height: 4.4rem;
  color: #fff;
  font-size: 1.5rem;
  outline: none;
}

.wpcf7c-elm-step1:hover {
  background: #fff;
  color: #009DCF;
  border: 2px solid #009DCF;
}

/* 送信ボタンは非表示（ポップアップで表示） */
.wpcf7-submit {
  display: none;
}

footer {
  width: 100%;
  height: 12.5rem;
  background-color: #1EB5A3;
  color: white;
}

footer .footer-contents {
  width: 80%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-contents .footer-content-right {
  width: 17.5rem;
  height: 4.68rem;
  border: 1px solid white;
  text-align: center;
  padding-top: 1.5rem;
  border-radius: 5px;
}

footer .footer-contents .footer-content-right a {
  color: white;
  font-weight: normal;
}

footer .footer-text {
  text-align: center;
  background-color: #1EB5A3;
}
/*# sourceMappingURL=style.css.map */